<h1>About Me</h1>
<hr>
<div class="row">
  <div class="col-md-5">
    <%= image_tag "New-profile.jpg", width: 250, alt: "profile image" %>
  </div>
  <div class="col-md-7 text-justify">
    <p> <strong> I've done quite a bit! Tennis instructor, music studio owner, public employee, stock market analyst, finacial advisor. And after 12 years in financial markets, I wanted to seek another challenge and joined Le Wagon's Batch 138 in São Paulo to become a professional software developer. </strong> </p>
  </div>
</div>
