<div class="app-card-container">
  <div class="card">
    <h1>Find me at!</h1>
    <div class="row">
      <div class="col-md-6 text-left contact-info">
          <ul class="list-inline">
            <li class="text-left contact-links">
              <h4> <i class="fa fa-phone"> (51) 993183617</i>
            </li>
            <li class="text-left contact-links">
              <a href="https://www.linkedin.com/in/fabr%C3%ADcio-dias-zanette-745ab327/" target="_blank">
              <h4> <i class="fa fa-linkedin"></i> Linkedin</a> </h4>
            </li>
            <li class="text-left contact-links">
              <a href="https://github.com/fdzanette" target="_blank">
              <h4> <i class="fa fa-github"></i> Github</a> </h4>
            </li>
            <li class="text-left contact-links">
              <a href="https://twitter.com/ZanetteFabricio" target="_blank">
              <h4> <i class="fa fa-twitter"></i> Twitter</a> </h4>
            </li>
            <li class="text-left contact-links">
              <h4> <i class="fa fa-envelope"></i> fabzanette@gmail.com </a> </h4>
            </li>
          </ul>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.2951224385824!2d-51.2514257495842!3d-30.114367541403304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519823a4c072de7%3A0x40066f5a6a932f1d!2sR.+Landel+de+Moura%2C+1121+-+Tristeza%2C+Porto+Alegre+-+RS%2C+91920-150!5e0!3m2!1spt-BR!2sbr!4v1547205899530" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>




