  <div class="col-xs-12 offset-md-3 col-md-6">
    <h1 class="cover-heading">Welcome!</h1>
    <p class="lead text-justify">"One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man." –Elbert Hubbard</p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>

