<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">"One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man." –Elbert Hubbard</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>

